@import '../utils/variables';

.App {
  text-align: center;
  background-color: $my-base;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  @media only screen and (max-width:$sm-max) {
    grid-template-columns: auto;
  }
}




