@import '../utils/variables';

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid $my-peach;
}
.App {
  text-align: center;
  background-color: $my-base;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  height: 100rem;
  h1 {
    width: 70vw;
    margin: 20px auto;
  }
}

h1, h2, h3 {
  color: $my-peach;
  background-color: $my-darkaqua;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.margin-top {
  margin-top: 1rem;
}



